body{
  background-color: #0FB493;
}

.flex-container{
  display: flex;
  flex-direction: column;
}

.container{
  margin-left: 8.7%
}


.jumbotron{
  background-color: #C9E1C1;
  padding: 25px 50px 100px;
  margin-left: 2%;
}

.nav-inner {
  padding-left: 1%;
  position: fixed;
  min-width: 11%;
  color: whitesmoke;
  top:8%
}

.btn{
  float:right;
  margin-top: 30px
}

.ui.segment{
   margin: .1rem 0;
}

.welcome{
  text-align:center;
}

.header-container{
  display: flex;
  justify-content: center;
}

.text{
  font-family: 'Rhodium Libre', serif;
}


.fullscreen.modal{
  margin-bottom: 5% !important;
  position: relative !important;
  margin-right: 8% !important;
}
